*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 250px auto 20%;
    grid-template-rows: 80px auto;
    background-color: #010A54;
}

/*DIV*/

#div-dashboard{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#img-github{
    width: 30px;
    height: 30px;
}

#div-dashboard > button{
    height: 30px;
}

#div-dashboard > p{
    color: white;
}

/*HEADER*/
header{
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;;
}

#busqueda-header{
    width: 180px;
    height: 30px;
}

header > hr{
    height: 30px;
}

header > button{
    height: 30px;
}

#img-perfil{
    width: 30px;
    height: 30px;
}

#div-dashboard, header{
    background-color: #263178;
}

/*NAV*/

#stiky-nav{
    position: sticky;
    top: 10px;
    padding: 10px;   
}

#repositorio-nav{
    display: flex;
    justify-content: space-between;
}

#repo-nav{
    color: aliceblue;
}

#lista-nav{
    color: aliceblue;
}

main{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

#busqueda-copailot{
    height: 30px;
}

aside{
    color: aliceblue;
}